/*
** Dark theme for MonoBook
** Originally from ZeldaWiki.org and modified by Skizzerz <skizzerz@shoutwiki.com> for ShoutWiki
** @note Some CSS selectors are prefixed with "body " to override skins.monobook.mobile styles, which
** apparently in MediaWiki 1.35(+) load _after_ this file and without that selector, those styles
** would overwrite our styles defined here.
*/
.mw-body {
	background: #1c3855;
	color: #d2d2d2;
	border: 2px solid #6f7b87;
}

body {
	background: #0a2139;
	color: #d2d2d2;
}

/**
 * Suppress the default background image.
 */
#globalWrapper {
	background-image: none;
}

body table {
	background-color: #1c3855;
}

body a {
	color: #e9eda6;
}

body a:visited {
	color: #e6ed79;
}

body a:active {
	color: #eaeda6;
}

body a.stub {
	color: #eaeda6;
}

body a.new, body #p-personal a.new {
	color: #fe6060;
}

body a.new:visited, body #p-personal a.new:visited {
	color: #fe6060;
}

hr {
	background-color: #6f7b87;
	color: #6f7b87;
}

/* "body" to make this more specific than MonoBook's default rules to ensure that the color is applied...sigh */
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
	border-bottom: 1px solid #485d73;
	color: #d2d2d2;
}

body legend {
	background: #1c3855;
}

body code {
	background-color: #2f6fab;
	color: #e0e0e0;
}

body pre {
	background-color: #1f4973;
	border: 1px dashed #3b587e;
	color: #d2d2d2;
}

/* user notification thing */
.usermessage {
	background-color: #2f6fab;
	border: 1px solid #eaeda6;
}

/* as per the h1, h2, etc. rules above, need some specificity here as well (why?!) */
body .catlinks {
	border: 2px solid #3b587e;
	background-color: #1f4973;
}

/*
** content styles
*/
/* Table of Contents */
#toc,
.toc,
.mw-warning {
	border: 2px solid #3b587e;
	background-color: #1f4973;
}

div.thumbinner {
	background-color: #1f4973;
	border: 2px solid #3b587e;
}

html .thumbimage {
	border: 1px solid #3b587e;
	background-color: #1c3855;
}

/* Doesn't seem to be used by MW core (anymore?) as of 1.35 but still used by some obscure extensions etc. */
.toccolours {
	border: 2px solid #3b587e;
	background-color: #1f4973;
}

/* Numbers like 1.2, 2.5, etc. in the ToC */
body .tocnumber {
	color: #f4f26b;
}

/* [show]/[hide] label in the ToC */
body .toctogglelabel {
	color: #f4f26b;
}

/* Interwiki styling */
#bodyContent a.extiw,
#bodyContent a.extiw:active {
	color: #e9eda6;
}

#bodyContent a.external {
	color: #e9eda6;
}

#bodyContent a.new {
	color: #fe6060;
}

.portlet h6 {
	background: #6f7b87;
}

body .pBody {
	background-color: #1d3855;
	border: 1px solid #59697a;
	color: #d2d2d2;
}

#p-personal li {
	color: #1f4973;
}

#p-personal li a {
	color: #e9eda6;
}

#p-personal li a:hover {
	background-color: #1f4973;
}

#p-cactions li {
	border: 1px solid #6f7b87;
	background: #1d3855;
}

#p-cactions li.selected {
	border-color: #eaeda6;
}

#p-cactions li a {
	background-color: #1d3855;
	color: #eaeda6;
}

#p-cactions li.selected a {
	background-color: #1d3855;
}

#p-cactions .new a {
	color: #fd6060;
}

#p-cactions li a:hover {
	background-color: #254b73;
}

/*
** footer
*/
#footer {
	background-color: #1c3855;
	border-top: 1px solid #e1eda6;
	border-bottom: 1px solid #e1eda6;
}

/* Arrow image for the "Filter revisions" menu on page histories */
.oo-ui-icon-expand,
.mw-ui-icon-expand::before,
.oo-ui-icon-collapse,
.mw-ui-icon-collapse::before {
	filter: invert(100%);
}

/* Special:UserLogin/Special:CreateAccount */
div#userloginForm form,
div#userlogin form#userlogin2 {
	background-color: #1f4973;
	border: 1px solid #3b587e;
}

div#userloginForm table,
div#userlogin form#userlogin2 table {
	background-color: #1c3855;
	border: 1px solid #3b587e;
}

.mw-ui-vform > div label,
.mw-body-content div.mw-number-text {
	color: #d2d2d2;
}

.mw-body-content div.mw-number-text h3 {
	color: #fff;
}

/* @todo FIXME: review and remove unnecessary styles, this is verbatim copy of the old file */
table.gallery {
	border: 2px solid #3b587e;
	margin: 2px;
	padding: 2px;
	background-color: #1f4973;
}

table.gallery tr {
	vertical-align: top;
}

table.gallery td {
	vertical-align: top;
	background-color: #1f4973;
	border: solid 2px #3b587e;
}
/* Keep this temporarily so that cached pages will display right */
table.gallery td.galleryheader {
	text-align: center;
	font-weight: bold;
}
table.gallery caption {
	font-weight: bold;
}

div.gallerybox {
	margin: 2px;
}

div.gallerybox div.thumb {
	text-align: center;
	border: 1px solid #3b587e;
	background-color: #1c3855;
	margin: 2px;
}
/* </fixme> */

/* Classes for EXIF data display */
table.mw_metadata {
	width: 300px; /* @todo CHECKME: still needed? shared.css has 400px */
}

/* filetoc */
ul#filetoc {
	border: 1px solid #3b587e;
	background-color: #1f4973;
}

/* noarticletext */
.noarticletext {
	background: #0A2139;
	border: #59697A 1px solid;
	color: #59697A;
}

div.multipageimagenavbox {
	border: 1px solid #3b587e;
	background: #1f4973;
}

/** Special:Version */
table#sv-ext, table#sv-hooks, table#sv-software {
	margin: 1em;
	padding: 0em;
}

#sv-ext td, #sv-hooks td, #sv-software td,
#sv-ext th, #sv-hooks th, #sv-software th {
	border: 1px solid #A0A0A0;
	padding: 0 0.15em 0 0.15em;
}
#sv-ext th, #sv-hooks th, #sv-software th {
	background-color: #1F4973;
	color: #CBD2D2;
	padding: 0 0.15em 0 0.15em;
}
tr.sv-space {
	height: 0.8em;
	border: none;
}
tr.sv-space td { display: none; }

/* also used on Special:Version */
body table.wikitable {
	background-color: transparent !important;
	/* color scheme borrowed from the Special:Version table color definition (above) */
	background-color: #1f4973;
	color: #cbd2d2;
}

body table.wikitable th {
	background-color: #1f4973;
	color: #cbd2d2;
}

/* Recreating-deleted-page/reupload file warning and log entries */
div.mw-warning-with-logexcerpt {
	padding: 3px;
	margin-bottom: 3px;
	border: 2px solid #2F6FAB;
}

/* Special:Search */
.mw-search-interwiki-project {
	background: #cae8ff;
}

span.searchmatch {
	color: #fe6060;
}

/* SendToAFriend extension */
#staf a {
	color: #002bb8;
}

/* The message that is shown after a page is deleted */
#deletedtextmessage {
	background: transparent;
}

/* Images */
div.thumb {
	border-color: transparent;
}
div.thumb div {
	background-color: transparent;
}

/* Added/removed bytes in Special:RecentChanges, page histories, etc. */
.mw-plusminus-pos {
	color: #00d000;
}

.mw-plusminus-neg, .previewnote {
	color: #e00000;
}

/* Captcha on Special:UserLogin/signup (ConfirmEdit extension) */
div#userlogin .captcha, div#userloginForm .captcha {
	background-color: transparent;
}

/* @todo FIXME: correct place for these rules! */
#bodyContent h4.mw-specialpagesgroup {
	background-color: #1f4973;
	border: 1px solid #3b587e;
}

#bodyContent table#sv-ext th, table#sv-software th, table.filehistory th {
	background-color: #1F4973;
	color: #CBD2D2;
	border: 1px solid #3b587e;
}
#bodyContent table#sv-ext td, table#sv-software td, table.filehistory td {
	border: 1px solid #3b587e;
}

#bodyContent ul#pagehistory li {
	background: #1f4871;
	border-color: #3b587e;
}
#bodyContent ul#pagehistory li.selected {
	/*background: #0a2139;*/
	border: 1px solid #3b587e;
	/* need this so that the bot/minor edit letters don't show up as black: */
	color: #fff;
}
/* technically the color I'm using here should probably be something else than white,
 * _but_ the white gives it a subtle yet elegant contrast, just enough so that the selected
 * history entries stand out enough from the non-selected ones
 */
#bodyContent ul#pagehistory li.selected span {
	color: #fff;
}

#bodyContent table#allmessagestable {
	border: 1px solid #3b587e;
}
#bodyContent table#allmessagestable th {
	background: #0a2139;
	border: 1px solid #3b587e;
}
#bodyContent table#allmessagestable td {
	background: #1f4871;
	border: 1px solid #3b587e;
}

#bodyContent div.noarticletext {
	color: #d2d2d2;
	background: #1f4871;
	border: 2px solid #3b587e;
}
table.diff, td.diff-otitle, td.diff-ntitle {
	background: none;
}
td.diff-context {
	background: #6f7b87;
}
td.diff-deletedline {
	background: #e6ed78;
	color: #1c3855;
}
td.diff-addedline {
	background: #76e983;
	color: #1c3855;
}
td.diff-addedline ins, td.diff-deletedline del {
	color: #a33d3d;
}

/* Make diffs readable */
table.diff,
td.diff-otitle,
td.diff-ntitle,
td.diff-context {
	background-color: transparent !important;
	color: #d2d2d2;
}

/**
 * This class appears to be the new version of TablePager, I guess?
 * Everywhere where I see that this is used, the element also has the TablePager
 * class, but all CSS definitions are on this class and its children.
 * Anyway, Special:ListFiles, Special:AbuseFilter, etc. use this class.
 */
table.mw-datatable th, table.mw-datatable tr:hover td, table.mw-datatable td {
	background-color: transparent;
}

/**
 * The default background color of the edit summary area container on
 * action=edit is a real eyesore with a dark color scheme (such as this one!),
 * so let's make it a tad bit less obnoxious, yes?
 */
div.editOptions {
	background-color: transparent;
}
