/*
** Dark theme for Vector
** Originally from ZeldaWiki.org
**
** @date 1 April 2025
** @see http://zeldawiki.org/index.php?title=MediaWiki:Vector.css&action=history
*/
/* Framework */
body {
	background-color: #0b284f;
}

/* Content */
.mw-body {
	border: 1px solid #426787;
	border-right-width: 0;
	background-color: #17456e;
	color: #d2d2d2;
	padding: 1em;
}

/* The following rule overrides ShoutWikiAds' vector-skyscraper-ad.css
 * to set the correct border color for the page content container.
 * Thus this rule should use an identical selector as that file _or_
 * better yet, a selector with a higher specificity than that, but that'd
 * mean literally prefixing this rule with "body" to make it more specific.
 */
div#content {
	border-right-color: #426787 !important;
}

/* Not quite sure what this is for... */
#bodyContent h1,
#bodyContent h2 {
	margin-top: 0.6em !important;
	margin-bottom: 0.6em !important;
}

/* Head */
#mw-page-base {
	background-color: #17456e;
	background-image: linear-gradient( #17456e 50%, #0b284f 100% );
}

/* Link colors */
.mw-body a.external {
	color: #f4f26b;
}

.mw-body a.external:visited {
	color: #e7ea12;
}

.mw-body a.external:active {
	color: #f4f26b;
}

pre,
.mw-code {
	background-color: #1d578b;
	border: 1px dashed #426787;
	color: #d2d2d2;
	font-size: 100% !important;
}

/*
** Diff rendering
*/
table.diff,
td.diff-otitle,
td.diff-ntitle {
	background-color: transparent;
}

td.diff-addedline,
td.diff-deletedline,
td.diff-context {
	font-size: 90%;
}

td.diff-addedline {
	background-color: #255a81;
	border-color: #b0ffb0;
}

td.diff-deletedline {
	background-color: #255a81;
	border-color: #ffb0b0;
}

td.diff-context {
	background-color: transparent;
	border-color: #bbb;
	color: #d2d2d2;
}

td.diff-addedline .diffchange,
td.diff-deletedline .diffchange {
	border-radius: 0.33em;
	color: black;
	padding: 0.25em;
}

td.diff-addedline .diffchange {
	background: #90ff90;
}

td.diff-deletedline .diffchange {
	background: #ff7070;
}

/* Namespaces and views */
.vector-menu-tabs,
.vector-menu-tabs li a {
	/* @embed */
	background-image: url( tab-break.png );
}

/* Gray text on a very dark background is hard to read... */
li#pt-anonuserpage span {
	color: #d2d2d2;
}

/* OVERRIDDEN BY COMPLIANT BROWSERS */
div.vectorTabs ul li { /* @todo */
	background-color: transparent;
	background-image: none;
}

div.vectorTabs li.icon a { /* @todo */
	background-position: bottom right;
	background-repeat: no-repeat;
}

.vector-menu-tabs li {
	background-image: none;
}

div.vectorTabs li a,
div.vectorTabs li a span,
.vector-menu-tabs li a,
.vector-menu-tabs li a span {
	color: #f4f26b;
}

/* @todo CHECKME: is the 1st (older) rule still needed? */
div.vectorTabs li.selected,
.vector-menu-tabs .selected {
	/* @embed */
	background-image: url( tab-current-fade.png );
}

div.vectorTabs li.selected a,
div.vectorTabs li.selected a:visited,
.vector-menu-tabs .selected a,
.vector-menu-tabs .selected a:visited {
	color: #d2d2d2;
	text-decoration: none;
	background-color: #17456e;
}

div.vectorTabs li.new a,
div.vectorTabs li.new a:visited,
.vector-menu-tabs .new a,
.vector-menu-tabs .new a:visited {
	color: #ff8581;
}

/* Variants and actions */
div.vectorMenu ul {
	background-color: #1d578b;
	border: solid 1px #426787;
}

.vector-menu-dropdown .vector-menu-content-list {
	background-color: #1d578b;
}

/* The "More" text of the "More" menu (MW 1.39+); the 1.35 one is a bit below */
.vector-menu-dropdown .vector-menu-heading {
	color: #d2d2d2;
}

/* Entries in the "More" menu */
.vector-menu-dropdown li a, /* 1.35(-1.38?) */
.vector-menu-dropdown li.mw-list-item a /* 1.39+ */ {
	color: #f4f26b;
}

/* "More" menu arrow icon thing (MW 1.39+) */
.vector-menu-dropdown .vector-menu-heading::after {
	filter: invert( 100% );
}

/* For MediaWiki 1.39+ because "yay" for randomly renaming stuff for no real reason...
 * This rule targets the "More" drop-down menu items and I think it's the same as the
 * above one, but the above one is for like 1.35(-1.38?) and this is for 1.39
 */
.vector-menu-dropdown .mw-list-item a {
	color: #f4f26b;
}

/* OVERRIDDEN BY COMPLIANT BROWSERS */
div.vectorMenu li a {
	color: #f4f26b;
}

div.vectorTabs span {
	/* @embed */
	background-image: url( tab-break.png );
}

div.vectorMenu li.selected a,
div.vectorMenu li.selected a:visited {
	color: #e7ea12;
	text-decoration: none;
}

/* OVERRIDDEN BY COMPLIANT BROWSERS */
#mw-head div.vectorMenu h3,
#mw-head div.vectorMenu h5 {
	/* @embed */
	background-image: url( tab-break.png );
}

/* OVERRIDDEN BY COMPLIANT BROWSERS */
/* ashley 21 June 2015: maybe not? anyway, this was breaking the little arrow
icon next to the "More" menu, hence why it's now commented out
div.vectorMenu h3 a,
div.vectorMenu h5 a {
	background-image: url('dark/tab-break.png');
}
*/

/* Make the text for the "More [actions]" menu more readable */
.vector-menu-dropdown h3 {
	color: #d2d2d2;
}

/* Arrow image for the "More [actions]" menu... */
.vector-menu-dropdown h3::after {
	filter: invert( 100% );
}

/* Search */
#simpleSearch {
	border: solid 1px #426787;
	background-color: #17456e;
	background-image: none;
}

#simpleSearch input#searchInput {
	background-color: transparent;
	color: #e0e0e0;
}

/**
 * Make the search box placeholder text a tad bit lighter
 * It's beyond stupid that these rules cannot be combined into one...browsers,
 * why must you be so random?!
 */
#simpleSearch input#searchInput::placeholder {
	color: #e0e0e0;
}

#simpleSearch :input-placeholder#searchInput {
	color: #e0e0e0;
}

#simpleSearch :placeholder#searchInput {
	color: #e0e0e0;
}

.mw-search-result-data {
	color: grey;
}

/* Replace the magnifying glass icon */
input#searchButton {
	/* @embed */
	background-image: url( search-ltr.png );
}

/* Panel */
#mw-panel {
	padding: 0;
}

/* ashley 21 June 2015: this doesn't look good anymore, so removing it
#mw-panel .portal .body {
	background-image: url('dark/portal-break.png');
}
*/

#mw-panel .portal .body ul li a {
	color: #f4f26b;
}

#mw-panel .portal .body ul li a:visited {
	color: #f4f26b;
}

/* Sidebar */
#mw-panel .portal h3 {
	color: #f4f26b;
}

#mw-panel.collapsible-nav .portal h3 a,
#mw-panel.collapsible-nav .portal h5 a {
	color: #e7ea12 !important;
}

#mw-panel.collapsible-nav .portal {
	background: none;
	border-bottom: 1px solid #284360;
}

/* Make non-link texts in the sidebar, such as the NewsBox extension's contents, readable */
#mw-panel .portal {
	color: #fff;
}

/* Footer */
#footer ul li {
	color: #b6b6b6;
}

/* Logo */
#p-logo {
	left: 0;
	top: -150px;
}

/* Links */
a,
/* The following rule is not used on MW 1.35 but is needed for 1.37+ so that the sidebar links won't end up blue */
.vector-menu-portal .vector-menu-content li a,
/* and the following for MW 1.43+... */
.vector-legacy-sidebar .vector-menu-portal .vector-menu-content li a {
	text-decoration: none;
	color: #f4f26b;
	background: none;
}

a:visited,
.vector-menu-portal .vector-menu-content li a:visited,
.vector-legacy-sidebar .vector-menu-portal .vector-menu-content li a:visited {
	color: #e7ea12;
}

a:active,
.vector-menu-portal .vector-menu-content li a:active,
.vector-legacy-sidebar .vector-menu-portal .vector-menu-content li a:active {
	color: #f4f26b;
}

a:hover {
	text-decoration: underline;
}

a.stub {
	color: #f4f26b;
}

#bodyContent a.new {
	color: #ff8581;
}

a.new,
#p-personal a.new {
	color: #ff8581;
}

a.new:visited,
#p-personal a.new:visited {
	color: #ff8581;
}

/* Inline elements */
hr {
	color: #426787;
	background-color: #426787;
}

/* Structural elements */
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #d2d2d2;
	padding-top: 0;
	border-bottom: 1px solid #426787;
	width: auto;
}

h3,
h4,
h5,
h6 {
	border-bottom: none;
	font-weight: bold;
}

code {
	background-color: #1d578b;
}

pre { /* @todo */
	border: 1px dashed #426787;
	color: #d2d2d2;
	background-color: #1d578b;
}

/* Tables */
table {
	color: #d2d2d2;
	/* we don't want the bottom borders of <h2>s to be visible through
	 * floated tables */
	background-color: #17456e;
}

fieldset table {
	/* but keep table layouts in forms clean... */
	background: none;
}

.editsection { /* @todo */
	float: right;
}

ul {
	list-style-type: disc;
	/* @embed */
	list-style-image: url( bullet-icon.png );
}

.mw-code {
	line-height: 1.3em;
}

/* mediawiki.notification */
.skin-vector .mw-notification {
	background-color: #1d578b;
	background-color: rgba( 29, 87, 139, 0.93 );
}

/* Table of Contents */
#toc,
.toc,
.mw-warning {
	border: 1px solid #426787;
	background-color: #1d578b;
}

/* Doesn't seem to be used by MW core (anymore?) as of 1.35 but still used by some obscure extensions etc. */
.toccolours {
	border: 1px solid #1d578b;
	background-color: #426787;
}

/* Numbers like 1.2, 2.5, etc. in the ToC */
.tocnumber {
	color: #f4f26b;
}

/* [show]/[hide] label in the ToC */
.toctogglelabel {
	color: #f4f26b;
}

/* Thumbnails */
div.thumb {
	border-style: solid;
	border-color: transparent;
}

div.thumbinner {
	border: 1px solid #426787;
	background-color: #1d578b;
}

html .thumbimage {
	background-color: #17456e;
	border: 1px solid #426787;
}

img.thumbborder { /* @todo */
	border: 1px solid #ddd;
}

/* User message */
.usermessage {
	background-color: #1d578b;
	border: 1px solid #e7ea12;
	color: #d2d2d2;
}

/* Site notice */
#siteNotice div,
#siteNotice p {
	margin: 0;
	padding: 0;
	margin-bottom: 0.9em;
}

/* Categories */
.catlinks {
	border: 1px solid #426787;
	background-color: #1d578b;
}

/* Edge cases for content */
h1,
h2 {
	margin-bottom: 0.6em;
	margin-top: 0.6em;
}

h3,
h4,
h5 {
	margin-bottom: 0.3em;
}

/* Interwiki styling */
#content a.extiw,
#content a.extiw:active {
	color: #f4f26b;
	background: none;
	padding: 0;
}

#content a.external {
	color: #f4f26b;
}

/* Watch/Unwatch icon styling */
#ca-unwatch.icon,
#ca-watch.icon { /* @todo */
	margin-right: 1px;
}

/* Page history styling */
#bodyContent ul#pagehistory li {
	border: 1px solid #17456e;
}

#bodyContent ul#pagehistory li.selected {
	background-color: #1d578b;
	border: 1px dashed #426787;
	color: #d2d2d2;
}

/* the auto-generated edit comments */
#bodyContent ul#pagehistory .history-user {
	margin-left: 0.4em;
	margin-right: 0.2em;
}

#bodyContent ul#pagehistory span.minor {
	font-weight: bold;
}

/* wikitable/prettytable class for skinning normal tables */
table.wikitable,
table.prettytable {
	margin: 1em 1em 1em 0;
	background-color: #17456e;
	border: 1px solid #426787;
	border-collapse: collapse;
	color: #d2d2d2;
}

table.wikitable th,
table.wikitable td,
table.prettytable th,
table.prettytable td {
	background: #17456e;
	border: 1px solid #426787;
	padding: 0.2em;
}

table.wikitable th,
table.prettytable th {
	background: #1d578b;
	text-align: center;
}

table.wikitable > tr > th,
table.wikitable > tr > td,
table.wikitable > * > tr > th,
table.wikitable > * > tr > td {
	border: 1px solid #426787;
}

table.wikitable > tr > th,
table.wikitable > * > tr > th {
	background: #1d578b;
}

table.wikitable caption,
table.prettytable caption {
	margin-left: inherit;
	margin-right: inherit;
	font-weight: bold;
}

table.prettytable code,
table.wikitable code {
	background-color: transparent;
	border: 0;
	color: #d2d2d2;
}

/* Galleries */
li.gallerybox div.thumb {
	background-color: #1d578b;
	border: 1px solid #426787;
}

table.gallery {/* @todo - unused? */
	border: 1px solid #1d578b;
	margin: 2px;
	padding: 2px;
	background-color: #17456e;
}

table.gallery tr {/* @todo - unused? */
	vertical-align: top;
}

table.gallery td {/* @todo - unused? */
	vertical-align: top;
	background-color: #1d578b;
	border: solid 2px #17456e;
}

table.gallery caption {/* @todo - unused? */
	font-weight: bold;
}

div.gallerybox {/* @todo - remove? */
	margin: 2px;
}

div.gallerybox div.thumb {/* @todo - remove? */
	border: 1px solid #426787;
}

/*
  Table pager (e.g. Special:Imagelist)
  - remove underlines from the navigation link
  - collapse borders
  - set the borders to outsets (similar to Special:Allmessages)
  - remove line wrapping for all td and th, set background color
  - restore line wrapping for the last two table cells (description and size)
*/
.TablePager_nav a {
	text-decoration: none;
}

.TablePager {
	border-collapse: collapse;
}

.TablePager,
.TablePager td,
.TablePager th {
	border: 1px solid #426787;
	padding: 0 0.15em 0 0.15em;
}

.TablePager th {
	background-color: #1d578b;
}

.TablePager td {
	background-color: #17456e;
}

.TablePager tr:hover td {
	background-color: #1d578b;
}

.imagelist .TablePager_col_links {
	background-color: #1d578b;
}

.imagelist th.TablePager_sort {
	background-color: #ccf;
}

fieldset#mw-searchoptions {
	margin: 0;
	padding: 0.5em 0.75em 0.5em 0.75em !important;
	background-color: #1d578b;
	border: 1px solid #426787 !important;
	border-top-width: 0 !important;
}

.mw-search-formheader {
	background-color: #17456e;
	margin-top: 1em;
	border: 1px solid #426787;
}

fieldset#mw-searchoptions div.divider {
	clear: both;
	border-bottom: 1px solid #426787;
	padding-top: 0.5em;
	margin-bottom: 0.5em;
}

.mw-search-formheader div.search-types ul li.current a {
	color: #d2d2d2;
	cursor: default;
}

/* File namespace */
#filetoc {
	background-color: #1d578b !important;
	border: 1px solid #426787 !important;
}

div.fullImageLink,
.fullMedia {
	text-align: center;
}

table.mw_metadata td,
table.mw_metadata th {
	border: 1px solid #3b587e;
}

table.mw_metadata th {
	background-color: #1d578b;
}

table.mw_metadata td {
	background-color: transparent;
}

.filehistory a img,
#file img:hover {
	background: transparent;
}

/* Recent changes */
.mw-plusminus-pos {
	color: #00d000;
}

.mw-plusminus-neg,
.previewnote {
	color: #e00000;
}

/* Special:RecentChanges - the collapsible box explaining the acronyms */
.mw-changeslist-legend {
	background-color: transparent;
}

/* Flyout notifications ("page has been added to/removed from your watchlist", PostEdit, etc.) */
.mw-notification-content {
	color: #d2d2d2;
}

/* OOUI fixes */
/* Makes the various help texts on Special:Preferences readable */
.oo-ui-labelWidget.oo-ui-inline-help {
	color: #d2d2d2;
}

/* Arrow image for the "Filter revisions" menu on page histories */
.oo-ui-icon-expand,
.mw-ui-icon-expand::before,
.oo-ui-icon-collapse,
.mw-ui-icon-collapse::before {
	filter: invert( 100% );
}

/* Login & signup page fixes */
a#mw-createaccount-join {
	box-shadow: none;
}

.mw-ui-vform > div label,
div.mw-number-text {
	color: #d2d2d2;
}

div.mw-number-text h3 {
	color: #fff;
}

/* That stupid "benefits" thing, once again...gosh, I swear it's a problem with like every skin
 * ever, not to mention custom themes like ours...why was it even added to MW core in the first place?!
 */
.mw-createacct-benefits-container h3 {
	color: #d2d2d2 !important;
}

/* New, Codex style "Powered by MediaWiki" button in MW 1.43+ */
#footer-icons li:not( #footer-poweredbyico ) a {
	background: transparent;
}

#footer-poweredbyico a {
	/* Force this to have the background span the entire "button", which is more like what's intended than the default display style */
	display: inline-block;
}

/* Custom styles made specifically for ZW */

/* Tabs */
.tabcontainer .tab {
	background-color: #1d578b;
	background-image: -webkit-linear-gradient( top, #1d679b, #1a4e7d );
	background-image: -moz-linear-gradient( top, #1d679b, #1a4e7d );
	background-image: -ms-linear-gradient( top, #1d679b, #1a4e7d );
	background-image: -o-linear-gradient( top, #1d679b, #1a4e7d );
	background-image: linear-gradient( top, #1d679b, #1a4e7d );
	border: 2px solid #426787;
	cursor: pointer;
	float: left;
	margin: 0 1px -2px;
	padding: 3px;
	text-align: center;
	white-space: nowrap;
}

.tabcontainer .tab:hover {
	background-color: #24527c;
	background-image: -webkit-linear-gradient( top, #305f89, #17456e );
	background-image: -moz-linear-gradient( top, #305f89, #17456e );
	background-image: -ms-linear-gradient( top, #305f89, #17456e );
	background-image: -o-linear-gradient( top, #305f89, #17456e );
	background-image: linear-gradient( top, #305f89, #17456e );
	color: #f4f26b;
}

.tabcontainer .tab.active {
	background-color: #17456e !important;
	background-image: -webkit-linear-gradient( top, #1d578b, #17456e );
	background-image: -moz-linear-gradient( top, #1d578b, #17456e );
	background-image: -ms-linear-gradient( top, #1d578b, #17456e );
	background-image: -o-linear-gradient( top, #1d578b, #17456e );
	background-image: linear-gradient( top, #1d578b, #17456e );
	border-bottom: 2px solid #17456e;
	color: #f4f26b;
}

/* Button-like gradient background */
.gradient {
	background-image: -webkit-linear-gradient( top, #2d679b, #1a4e7d );
	background-image: -moz-linear-gradient( top, #2d679b, #1a4e7d );
	background-image: -ms-linear-gradient( top, #2d679b, #1a4e7d );
	background-image: -o-linear-gradient( top, #2d679b, #1a4e7d );
	background-image: linear-gradient( top, #2d679b, #1a4e7d );
}

.gradient:hover {
	background-image: -webkit-linear-gradient( top, #277, #1a4e7d );
	background-image: -moz-linear-gradient( top, #277, #1a4e7d );
	background-image: -ms-linear-gradient( top, #277, #1a4e7d );
	background-image: -o-linear-gradient( top, #277, #1a4e7d );
	background-image: linear-gradient( top, #277, #1a4e7d );
}

/* Reverse gradient */
.rgradient {
	background-image: -webkit-linear-gradient( bottom, #2d679b, #1a4e7d );
	background-image: -moz-linear-gradient( bottom, #2d679b, #1a4e7d );
	background-image: -ms-linear-gradient( bottom, #2d679b, #1a4e7d );
	background-image: -o-linear-gradient( bottom, #2d679b, #1a4e7d );
	background-image: linear-gradient( bottom, #2d679b, #1a4e7d );
}

.rgradient:hover {
	background-image: -webkit-linear-gradient( bottom, #277, #1a4e7d );
	background-image: -moz-linear-gradient( bottom, #277, #1a4e7d );
	background-image: -ms-linear-gradient( bottom, #277, #1a4e7d );
	background-image: -o-linear-gradient( bottom, #277, #1a4e7d );
	background-image: linear-gradient( bottom, #277, #1a4e7d );
}

/** CSS fixes for social tools */
#profile-top,
.profile-info {
	background-color: transparent !important;
}

/* personal info on profiles + activity feed on profiles + Special:UserActivity */
div.profile-info-container div,
div.profile-info-container b,
div.item,
div.user-home-links-container h2 {
	color: #d2d2d2;
}

/* user board on profile pages */
div.user-board-message-from {
	background-color: transparent;
	border-bottom: 1px solid #d2d2d2;
}

/* navigation menu on Special:TopUsers */
div.top-fan-nav h1 {
	color: #d2d2d2;
}

/** Comments */
div.c-form-title {
	color: #d2d2d2;
}

/** FanBoxes */
/* Special:TopUserboxes */
div.fanbox-nav h2 {
	color: #d2d2d2;
}

/** LinkFilter */
/* Special:LinksHome */
div.links-home-date,
div.link-item-desc {
	color: #d2d2d2;
}

/* Special:LinkSubmit */
.link-submit-title {
	color: #d2d2d2;
}

/** PollNY */
/* Special:ViewPoll */
div.view-poll-top-links a,
div.view-poll-text,
div.view-poll-user-name {
	color: #f4f26b;
}

div.view-poll-navigation h2 {
	color: #d2d2d2;
}
