/* colors */
body {
	background: #eaecf0;
}

/* main colors */
#p-search,
#p-personal ul li,
.vectorTabs ul li,
#mw-head .vectorMenu h3,
#mw-panel .portal .body ul li {
	background: #f8f9fa;
}

/* hover colors */
#p-personal ul li:hover,
.vectorTabs li:hover,
#mw-panel .portal .body ul li:hover {
	background: #fff;
}

/* headings */
h1,
h2,
h3,
h4,
h5,
h6,
.mw-body h1,
.mw-body h2 {
	color: #222;
	font-family: "Helvetica","Arial",sans-serif;
}

/* main content */
#mw-page-base {
	background: none;
	height: 6em;
}

#mw-head-base {
	height: 6em;
	margin-top: -6em;
}

.mw-body {
	border: 0;
}

/* personal */
#p-personal {
	top: 0;
	right: 0;
	border-radius: 0 0 0 1em;
}

#p-personal ul {
	padding: 0;
}

#p-personal ul li {
	margin: 0;
}

#p-personal li:first-child {
	border-radius: 0 0 0 1em;
}

#p-personal ul li > a {
	text-decoration: none;
	padding: .75em 1em;
	display: block;
}

#p-personal #pt-notifications-alert,
#p-personal #pt-notifications-notice {
	margin: 0;
}

#pt-notifications-alert .mw-echo-notifications-badge,
#pt-notifications-notice .mw-echo-notifications-badge {
	top: 0;
	margin-bottom: 1em;
	padding-right: 9px;
}

#pt-notifications-alert .mw-echo-notifications-badge:before,
#pt-notifications-notice .mw-echo-notifications-badge:before {
	top: .125em;
	left: .5em;
}

#pt-userpage a {
	margin-top: 0.75em;
}

/* navigation */
#left-navigation {
	position: absolute;
}

#mw-head .vectorMenu h3 {
	background-image: none;
}

#right-navigation .emptyPortlet + .emptyPortlet + div {
	border-radius: 1em 0 0 0;
}

.vectorMenu {
	margin-right: -.5em;
}

.vectorMenu h3 span {
	line-height: .5;
	padding: 1.375em 1em 0 1em;
}

.vectorMenu h3 a {
	top: -.25em;
	left: 3em;
}

.vectorMenu div.menu {
	background-color: #fff;
	border: 1px solid #a2a9b1;
	border-radius: 2px;
	box-shadow: 0 0.15em 0 0 rgba(0,0,0,0.15);
}

.vectorMenu li a {
	text-decoration: none;
}

.vectorMenu li:hover {
	background: #f9f9f9;
}

/* search */
#p-search {
	background: #fff;
	height: 1.5em;
	padding: 0.48em 1em;
}

#simpleSearch,
#p-search form,
#p-search input {
	margin: 0;
}

/* tabs */
.vectorTabs {
	padding: 0;
}

.vectorTabs,
.vectorTabs ul,
.vectorTabs ul li,
.vectorTabs span {
	background-image: none;
}

.vectorTabs li a {
	text-decoration: none;
	height: 1em;
	padding: 1em;
	display: inline-block;
}

.vector-menu-tabs a {
	background-image: none;
}

#p-namespaces li:first-of-type,
#p-views li:first-of-type {
	border-radius: 1em 0 0 0;
}

#p-namespaces li:last-of-type {
	border-radius: 0 1em 0 0;
}

#p-namespaces {
	margin-left: -0.7em;
}

/* "not logged in" text shown instead of user name for anons */
#pt-anonuserpage {
	height: 23px;
	padding-top: 15px !important;
}

/* Make tabs "attach" to the article body element; needed for MW 1.35+ */
.vector-menu-content {
	height: 100%;
}

/* portals */
#mw-panel .portal {
	background: none;
	margin: 0 0 .5em 0;
}

#mw-panel #p-logo + .portal h3,
#mw-panel .portal h3 {
	background: #fff;
	color: #444;
	padding-left: 1.75em;
	display: block;
}

#mw-panel .portal .body,
#mw-panel #p-logo + .portal .body {
	margin: 0;
}

#mw-panel .portal .body {
	background: none;
}

#mw-panel .portal .body ul {
	padding: 0;
}

#mw-panel .portal .body ul li {
	font-size: 0.75em;
	padding: .35em 1.25em;
}

#mw-panel .portal .body ul li:last-child {
	border-radius: 0 0 1em 0;
}

#mw-panel .portal .body ul li a {
	display: block;
	cursor: pointer;
}

#mw-panel .portal .body ul li a:hover {
	text-decoration: none;
}
